{{.header}}
<div class="container">
    <form method="post" class="form-horizontal">
        <div class="form-group">
            <label for="api_identify" class="col-sm-2 control-label">接口标识</label>

            <div class="col-sm-10">
                <input id="api_identify" name="api_identify"
                       {{if .edit}} readonly {{end}} type="text" class="form-control" placeholder="接口标识" value="{{if .req.PostForm}}{{index .req.PostForm.api_identify 0}}{{end}}">
            </div>
        </div>
        <div class="form-group">
            <label for="api_name" class="col-sm-2 control-label">接口名称</label>

            <div class="col-sm-10">
                <input id="api_name" name="api_name" type="text" class="form-control" placeholder="接口名称" value="{{if .req.PostForm}}{{index .req.PostForm.api_name 0}}{{end}}">
            </div>
        </div>
        <div class="form-group">
            <label for="api_host" class="col-sm-2 control-label">接口主机</label>

            <div class="col-sm-10">
                <input id="api_host" name="api_host" type="text" class="form-control" placeholder="接口名称" value="{{if .req.PostForm}}{{index .req.PostForm.api_host 0}}{{end}}">
            </div>
        </div>
        <div class="form-group">
            <label for="api_description" class="col-sm-2 control-label">接口描述</label>

            <div class="col-sm-10">
                <textarea id="api_description" name="api_description" type="text" class="form-control" placeholder="接口描述">{{if .req.PostForm}}{{index .req.PostForm.api_description 0}}{{end}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">{{if .edit}}保存{{else}}添加{{end}}</button>
            </div>
        </div>
    </form>
</div>
<div class=""></div>
{{.footer}}