{{.header}}
<div class="container">
    <form class="form-inline">
        <div class="form-group col-sm-2">
            <label for="api-list">选择接口</label>
        </div>
        <div class="form-group">
            <label class="sr-only"></label>
            <select id="api-list" class="form-control change-api">
                <option value="">Api列表</option>
                {{range .apiList}}
                    <option value="{{.api_id}}">{{.api_name}}</option>
                {{end}}
                </select>
        </div>
        <div class="form-group">
            <label for="group-list" class="sr-only"></label>
            <select id="group-list" class="form-control change-api">
                <option value="">Api分组</option>
            </select>
        </div>
        <div class="form-group">
            <label for="item-list" class="sr-only"></label>
            <select id="item-list" class="form-control change-api">
                <option value="">Api接口</option>
            </select>
        </div>
    </form>
    <div id="api-info"></div>
    <form id="test-form" action="/test_api" method="post" class="form-horizontal" onsubmit="return false;">
        <div id="submit-common">
        </div>
        <div id="submit-api">
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" onclick="submitForm('test-form')">提交</button>
            </div>
        </div>
    </form>
</div>
<div id="respData"></div>
<style type="text/css">
    .field-config input,.field-config select{
    display:inline-block;
    width:20%;!important
    }
</style>
<script id="field-tpl" type="text/html">

    <div class="form-group">
        <label for="<%if(method != ''){%><%=method%>:<% }%><%=field%>" class="col-sm-2 control-label"><%=label%><%if(methodName != ''){%>(<%=methodName%>)<% }%></label>

        <div class="col-sm-10">
    <% if(type=="textarea"){ %>
                <textarea id="<%if(method != ''){%><%=method%>:<% }%><%=field%>" name="<%if(method != ''){%><%=method%>:<% }%><%=field%>" type="<%=type%>" class="form-control" placeholder="<%=label%>"><%=value%></textarea>
    <% }else if(type=="select" || type=="multiple-select"){
            value = value.split("|");
    %>
            <select id="<%if(method != ''){%><%=method%>:<% }%><%=field%>" name="<%if(method != ''){%><%=method%>:<% }%><%=field%>" <%if(type=="multiple-select"){%>multiple="multiple"<% }%> class="form-control">
                <option value="">请选择</option>
                <% for(var i=0; i< value.length; i++){
                    var v = value[i].split(":");
                    if(v.length ==2){ %>
                <option value="<%=v[0]%>"><%=v[1]%></option>
                <% }else{%>
                <option value="<%=v[0]%>"><%=v[0]%></option>
                <% }
                } %>
            </select>
    <% } else {%>
            <input id="<%if(method != ''){%><%=method%>:<% }%><%=field%>" name="<%if(method != ''){%><%=method%>:<% }%><%=field%>" type="<%=type%>" class="form-control" placeholder="<%=label%>"
                   value="<%=value%>">
    <% } %>
            <%if(des != ''){%><span id="helpBlock" class="help-block"><%=des%></span><% }%>
        </div>
    </div>
</script>
<script id="api-info-tpl" type="text/html">
    <div class="container">
        <div id="api-common-info" class="row">
            <div class="col-sm-2 col-sm-offset-2">API:<%=api_name%></div>
            <div class="col-sm-2">Host:<%=api_host%></div>
            <div id="api-item-info"></div>
</div>
<div class="row">
    <div class="col-sm-10 col-sm-offset-2"><%=api_description%></div>
</div>
</div>
</script>
<script id="respData-tpl" type="text/html">
    <div class="container">
        <div id="body" class="row"><div class="col-sm-2">响应内容:</div><div class="col-sm-10"><%=Body%></div></div>
    </div>
    <div id="header" class="container">
        <div class="col-sm-2">响应头:</div><div class="col-sm-10">
        <% $.each(Header,function(k,v){ %>
        <div class="row"><div class="col-sm-2"><%=k%>:</div><div class="col-sm-8"><%=v[0]%></div></div>
        <% }); %>
    </div>
    </div>
</script>

<script type="text/javascript">
    var apiList = {{.apiListJson}};
    var tpl="";

    //提交表单
    function submitForm(id){
        $('#'+id).ajaxSubmit({
        success:       function(respData, statusText, xhr, $form){
            alert('status: ' + statusText + '\n\nresponseText: \n' + respData +
        '\n\nThe output div should have already been updated with the responseText.');
            $('#respData').html(baidu.template('respData-tpl',respData));
        },

        // other available options:
        //url:       url         // override for form's 'action' attribute
        //type:      type        // 'get' or 'post', override for form's 'method' attribute
        dataType:  "json"        // 'xml', 'script', or 'json' (expected server response type)
        //clearForm: true        // clear all form fields after successful submit
        //resetForm: true        // reset the form after successful submit

        // $.ajax options can be used here too, for example:
        //timeout:   3000
    });
       return false;
    }

    //显示表单信息
    function create_form(item_data){
        var html ="";
        if(item_data["getField"] != undefined && item_data["getField"] != ""){
            $.each(item_data["getField"],function(i,val){
                val["method"] = "get";
                val["methodName"] ="GET";
                html += baidu.template('field-tpl',val);
            });
        }
        if(item_data["postField"] != undefined && item_data["postField"] != ""){
            $.each(item_data["postField"],function(i,val){
                val["method"] = "post";
                val["methodName"] ="POST";
                html += baidu.template('field-tpl',val);
            });
        }
        html += '';
        return html;
    }
    //显示元素信息
    function show_sub(id,obj){
        if(id==""){
            return;
        }
        if(apiList[$("#api-list").val()]["group"] == undefined){
            $.ajax({url:"/api_show",data:{
                    act:"get_group",
                    api_id:id
                },
                success:function(resp){
                    apiList[id]["group"] = resp
                },
                dataType:"json",
                async:false
                });
        }
        if(obj.attr('id') == 'api-list'){
            var t_str = '<option value="">Api分组</option>';
            if(apiList[id]["group"] != undefined && apiList[id]["group"] !=""){
                $.each(apiList[id]["group"],function(key,val){
                    t_str += '<option value="'+key+'">'+val.name+'</option>';
                });
            }
            $("#group-list").html(t_str);
            $('#api-info').html(baidu.template('api-info-tpl',apiList[id]));
            $("#submit-common").html(baidu.template('field-tpl',{label:"Host",field:"host",value:apiList[id]["api_host"],type:"text",method:'',methodName:'',des:''}));
        }
        if(obj.attr('id') == 'group-list'){
            var api_id = $("#api-list").val();
            var t_str = '<option value="">Api接口</option>';
            if(apiList[api_id]["group"][id]["items"] != undefined && apiList[api_id]["group"][id]["items"] !=""){
                $.each(apiList[api_id]["group"][id]["items"],function(key,val){
                    t_str += '<option value="'+key+'">'+val.name+'</option>';
                });
            }
            $("#item-list").html(t_str);
        }
        if(obj.attr('id') == 'item-list'){
            var api_id = $("#api-list").val();
            var group_id = $("#group-list").val();
            var t_str = '';
            if(apiList[api_id]["group"][group_id]["items"][id] != undefined && apiList[api_id]["group"][group_id]["items"][id] !=""){
                var item_data=apiList[api_id]["group"][group_id]["items"][id];
                t_str = create_form(item_data);
                $("#submit-api").html(baidu.template('field-tpl',{label:"Url",field:"url",value:item_data["url"],type:"text",method:'',methodName:'',des:''}));
            }

            $("#submit-api").append(t_str);

            var info_tpl='<div class="col-sm-2">接口名称:<%=name%></div>'
                         +'<div class="col-sm-2">Url:<%=url%></div>';
            $('#api-item-info').html(baidu.template(info_tpl,apiList[api_id]["group"][group_id]["items"][id]));
        }
    }
    $(".change-api").change(function(){
        show_sub($(this).val(),$(this));
    });
</script>
{{.footer}}