<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{{.appInfo.app_name}}-{{.appInfo.version}}</title>
    <!--<link href="/assets/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="/assets/js/jquery.min.js?1.11.3" type="text/javascript"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js?3.3.6" type="text/javascript"></script>-->
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="/assets/css/common.css" rel="stylesheet"/>
    <style type="text/css">
        body{padding-top:70px;}
    </style>
    <script src="/assets/js/jquery.form.min.js?3.51.0" type="text/javascript"></script>
    <script src="/assets/js/baiduTemplate.js?1.0.6" type="text/javascript"></script>
    <script src="/assets/js/common.js?20151209" type="text/javascript"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/api_show">Test</a></li>
                <li><a href="/api_conf">Manage Config</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{range .subButtons}}
                <li><a href="{{.url}}" class="btn btn-info">{{.label}}</a></li>
                {{end}}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row"><ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        {{range .breadNav}}
        {{if eq .url ""}}
        <li class="active">{{.label}}</li>
        {{else}}
        <li><a href="{{.url}}">{{.label}}</a></li>
        {{end}}
        {{end}}
    </ol></div>
</div>