{{define "content"}}
<div class="container-fluid">
    <h1>{{.title}}</h1>
    <div class="row"><div class="col-md-12"><a class="btn btn-success" href="/admin/article/create">添加一个新的</a> </div></div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th><th>Title</th><th>Subject</th><th>Operation</th>
                </tr>
                </thead>
                <tbody>
                {{range $i, $model := .models}}
                    <tr>
                        <td>{{$model.ID}}</td><td>{{$model.Title}}</td><td>{{$model.Content}}</td><td>
                        <a class="btn btn-danger" href="/admin/article/delete/{{$model.ID}}" onclick="return confirm('确定删除吗？');">删除</a>
                        <a class="btn btn-primary" href="/admin/article/update/{{$model.ID}}">编辑</a>
                    </td>
                    </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{end}}