{{define "pagination"}}
<nav aria-label="Page navigation">
    <ul class="pagination">
    {{if not .Page.IsFirst}}<li>
        <a href="{{ChangeUrlParams .pageUrl "page" 1}}" aria-label="
First">
            <span aria-hidden="true">&lt;&lt;</span>
        </a>
    </li>{{end}}
{{if .Page.HasPrevious}}<li>
            <a href="{{ChangeUrlParams .pageUrl "page" .Page.Previous}}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>{{end}}
    {{range .Page.Pages}}
    {{if eq .Num -1}}
        ...
    {{else}}
        <li{{if .IsCurrent}} class="active"{{end}}><a href="{{ChangeUrlParams $.pageUrl "page" .Num}}">{{.Num}}</a></li>
    {{end}}
    {{end}}
    {{if .Page.HasNext}}<li>
            <a href="{{ChangeUrlParams .pageUrl "page" .Page.Next}}" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>{{end}}
    {{if not .Page.IsLast}}<li>
        <a href="{{ChangeUrlParams .pageUrl "page" .Page.TotalPages}}" aria-label="Last">
            <span aria-hidden="true">&gt;&gt;</span>
        </a>
    </li>{{end}}
    </ul>
</nav>
{{end}}